<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>
<body>
  
  <h1>Hey there!</h1>  <!-- Show username here -->

  <a href="/list-products">List Products</a>
  <br>
  <a href="/add-to-cart">Add to Cart</a>
  <br>
  <a href="/remove-from-cart">Remove from Cart</a>
  <br>
  <a href="/display-cart">Display Cart</a>
  <br>
  <a href="/logout">Logout</a>
  
</body>
</html>
